apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: backend-tests-dotnet-basic-hfnxoezh
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/backend-tests-dotnet-basic-hfnxoezh:55f728fd88d0a29fd80c58779eb6d1e9317f7844@sha256:f6c0b9e07a65e67739bc03b9564be9b48ecabb9db8c33924b3395201cd8fc2ef
          name: container-image
